// 定义sass变量，方法

// 主题颜色， 用于白色背景，字体
$font_main_color: #ffffff;
// 标题字体颜色
$font_title_color: #333333;
// 子标题颜色
$font_subtitle_color: #999999;
// 文本背景颜色
$font_bd_color: #f2f2f2;
// 文本高亮背景
$font_hl_db_color: #ffff00;
// 最新，重要色
$font_z_color: #CC3300;
// 文本颜色
$font_text_color: #131313;

// 文本亮绿色
$font_text_green_color: #00CC00;

// 主题色
$bg_main_color: #00b38a;

// 图标背景色
$bg_icon_color: #dce5ec;

// 标题卡片背景
$title_card_bg: rgba(242, 242, 242, 0.5);

// 标题卡片边框
$title_card_bor: #e2e2e2;
